<div>
  <div class="d-flex flex-row">
    <div class="p-2" *ngFor="let artifact of artifacts">
      <a [routerLink]="editorUrl(artifact)" >
        <img height="50" width="50" [src]="icon(artifact)" alt="image">
        <div >{{artifact.name}}</div>
      </a>
    </div>
  </div>
  <div class="btn  btn-sm btn-outline-primary" (click)="openAddArtifactDialog()">Add..</div>
</div>

<jw-modal [id]="dialogId()">
  <app-create-artifact-dialog [input]="createArtifactDialogInput" (onConfirm)="confirmAddArtifactDialog($event)" (onCancel)="cancelAddArtifactDialog()"></app-create-artifact-dialog>
</jw-modal>
