<app-layout-2col
  [breadcrumb]="breadcrumb"
  [title]="menu"
  [leftColumn]="codeTracePanel"
  [rightColumn]="sourceCodePanel"
>
</app-layout-2col>

<ng-template #breadcrumb>
  <ng-container *ngIf="codeTrace$ | async as codeTrace">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <app-back-button [routerLink]="link.toStoryDoc(codeTrace.storyDocSummary)"></app-back-button>
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item"><a
          [routerLink]="link.toStoryDoc(codeTrace.storyDocSummary)">{{codeTrace.storyDocSummary.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{codeTrace.name}}</li>
      </ol>
    </nav>
  </ng-container>

</ng-template>

<ng-template #menu>
  [menu]
</ng-template>

<ng-template #codeTracePanel>
  <app-code-trace-panel></app-code-trace-panel>
</ng-template>

<ng-template #sourceCodePanel>
  <app-source-code-panel></app-source-code-panel>
</ng-template>

<ng-template #loading>loading...</ng-template>
