<app-layout-2col
  [breadcrumb]="breadcrumb"
  [title]="menu"
  [leftColumn]="codeTracePanel"
  [rightColumn]="sourceCodePanel"
>
</app-layout-2col>

<ng-template #breadcrumb>
  <ng-container *ngIf="codeTrace$ | async as codeTrace">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <app-back-button [routerLink]="link.toStoryDoc(codeTrace.storyDocSummary)"></app-back-button>
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item"><a
          [routerLink]="link.toStoryDoc(codeTrace.storyDocSummary)">{{codeTrace.storyDocSummary.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{codeTrace.name}}</li>
      </ol>
    </nav>
  </ng-container>

</ng-template>

<ng-template #menu>
  <div class="container-fluid" *ngIf="codeTrace$ | async as codeTrace">
    <div class="row">
      <div class="col-md-11">
        <h3>
          Code trace: {{codeTrace.name}}
        </h3>
      </div>
      <div class="col-md-1">
        <div class="btn  btn-sm btn-outline-light float-right m-2" (click)="configure()">Configure</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #codeTracePanel>
  <div style="max-height: 90vh; overflow-y: scroll;">
    <app-code-trace-panel></app-code-trace-panel>
  </div>
</ng-template>

<ng-template #sourceCodePanel>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div style="max-height: 90vh; overflow-y: scroll;">
            <app-blueprint-panel></app-blueprint-panel>
          </div>
        </div>
        <div class="col-md-6">
          <div style="max-height: 90vh; overflow-y: scroll;">
          <app-source-code-panel></app-source-code-panel>
          </div>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #loading>loading...</ng-template>

<jw-modal [id]="configurationDialogId()">
  <app-code-trace-configuration-dialog [spec]="codeTraceConfigDialogSpec"></app-code-trace-configuration-dialog>
</jw-modal>

