@import '../variables';

.panel-border {
  background-color: $storybook-white !important;
  border: 1px solid $storybook-secondary-400 !important;
  margin-bottom: 7px;
}

.panel-container {
  padding: 10px;
}
