<app-border>
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label for="timeLine" class="form-label">Timeline</label>
      <select id="timeLine" formControlName="timeLine" class="form-select" (change)="onTimeLineChange()" >
        <option>-- select --</option>
        <ng-container *ngIf="timeLineModel$|async as timeLineModel">
          <option *ngFor="let timeLine of timelinesAsArray(timeLineModel.timeLines)"
                    [ngValue]="timeLine.timeLineId">{{timeLine.name}}</option>
        </ng-container>
      </select>
      <div class="form-text">Select a timeline.</div>
    </div>
  </form>
</app-border>
