<div class="block-border">
  <app-title [numbering]="block.numbering" [text]="block.title"></app-title>
  <ng-container [ngSwitch]="block.blockType">
    <div *ngSwitchCase="'ARTIFACT'">
      <app-artifact-block [documentId]="documentId" [blockId]="block.blockId" [artifacts]="block.artifacts" (onBlockChanged)="refresh()"></app-artifact-block>
    </div>
<!--
    <div *ngSwitchCase="'UI'">
      <app-uiblock></app-uiblock>
    </div>
    <div *ngSwitchCase="'UI-WALK'">
      <app-ui-walkthrough></app-ui-walkthrough>
    </div>
    <div *ngSwitchCase="'DB-CONNECTION'">
    <app-ui-walkthrough></app-ui-walkthrough>
</div>
-->
  </ng-container>
</div>

