<div *ngIf="treeNodes$ | async as treeNodes" class="code-trace-panel-container">
    <tree-root [nodes]="treeNodes" (focus)="selectNode($event)">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <ng-container *ngIf="node && node.data.event && isCodeEvent(node.data.event)" >
          <ng-container *ngIf="isCodeExecutionEnterEvent(node.data.event)" >
            <div>
              <span>{{ node.data.name }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="isCodeExecutionReturnEvent(node.data.event)" >
            <div style="height: 1px;">
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="node && node.data.event && isBDDEvent(node.data.event)" >
          <div style="background-color: lightcoral">
            <span>{{ node.data.name }}</span>
          </div>
        </ng-container>
      </ng-template>
    </tree-root>
</div>
