.title {
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid rgb(13, 110, 253);
}

.items p {
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid rgb(13, 110, 253);
}

.items p:hover {
  color: white;
  background: rgb(13, 110, 253);
}
