<app-layout-1col
  [breadcrumb]="breadcrumb"
  [middle]="middle"
>
</app-layout-1col>

<ng-template #breadcrumb>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
</ng-template>

<ng-template #middle>
  <div *ngIf="summaries$ | async as summaries; else loading">
    <ul class="list-group">
      <li *ngFor="let summary of summaries" class="list-group-item">
        <a (contextmenu)="openMenu($event, summary)"
           routerLink="/fe/document/{{summary.storyDocId.id}}">{{summary.name}}</a>
      </li>
    </ul>
  </div>
  <div class="btn  btn-sm btn-outline-primary" (click)="addDocument()">Add Story</div>
</ng-template>

<app-popup-menu></app-popup-menu>

<ng-template #loading>
  <ul class="list-group"></ul>
</ng-template>

<jw-modal [id]="documentDialogId()">
  <app-create-document-dialog [spec]="documentDialogSpec"></app-create-document-dialog>
</jw-modal>

<jw-modal [id]="confirmationDialogId()">
  <app-confirmation-dialog [spec]="confirmationDialogSpec"></app-confirmation-dialog>
</jw-modal>
