<app-layout-1col
  [breadcrumb]="breadcrumb"
  [title]="title"
  [middle]="collectionPanel"
>
</app-layout-1col>

<ng-template #breadcrumb>
  <ng-container *ngIf="screenshotCollection$ | async as screenshotCollection">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <app-back-button [routerLink]="link.toStoryDoc(screenshotCollection.storyDocSummary)"></app-back-button>
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item"><a
          [routerLink]="link.toStoryDoc(screenshotCollection.storyDocSummary)">{{screenshotCollection.storyDocSummary.name}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{screenshotCollection.name}}</li>
      </ol>
    </nav>
  </ng-container>
</ng-template>

<ng-template #title>
  <div class="container-fluid" *ngIf="screenshotCollection$ | async as screenshotCollection">
    <div class="row">
      <h3>
        Screenshots: {{screenshotCollection.name}}
      </h3>
    </div>
  </div>
</ng-template>

<ng-template #leftPanel>
  <span>LEFT</span>
</ng-template>

<ng-template #collectionPanel>
  <div class="container-fluid">
    <div class="row">
    </div>
    <div class="row">
      <app-screenshot-collection-panel [screenshotCollection$]="screenshotCollection$" [readonly]="false"></app-screenshot-collection-panel>
    </div>
  </div>
</ng-template>


<ng-template #loading>loading...</ng-template>
