.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  border-radius: 0 7px 0px 0px;
  display: inline-block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 10px;
  background-color: rgb(255,236,217);
}

.body {
  border: 1px solid black;
  border-radius: 0 7px 0px 0px;
  padding: 5px;
  background-color: rgb(255,236,217);
}
