<app-border>
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label for="collection" class="form-label">Screenshot collection</label>
      <select id="collection" formControlName="collection" class="form-select" (change)="onCollectionChange()">
        <option selected>--select--</option>
        <ng-container *ngIf="collections$ | async as collections">
          <option *ngFor="let collection of collections"
                  [ngValue]="collection.collectionCoordinate">{{collection.name}}</option>
        </ng-container>
      </select>
      <div class="form-text">Select a screenshot collection.</div>
    </div>
  </form>
  <div  *ngIf="(screenshotCollection$|async)" style="max-height: 400px; overflow-y: scroll;">
    <app-screenshot-collection-panel  [screenshotCollection$]="screenshotCollection$" ></app-screenshot-collection-panel>
  </div>
</app-border>
