<div *ngIf="spec" class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Testcase selection</h5>
      <button type="button" class="btn-close" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
      <form >
        <div class="mb-3">
          <tree-root [nodes]="treeNodes()" (activate)="selectNode($event)"></tree-root>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()" >OK</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
