<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="codeTrace$ | async as codeTrace ; else loading">
        <ul class="list-group">
          <li class="list-group-item" [class.active]="item==selectedItem" *ngFor="let item of codeTrace.items, let idx = index" (click)="selectItem(item)">
              {{idx}} {{ getClassName(item)}} {{item.methodName}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <ng-container *ngIf="selectedItem!=null">
          {{selectedItem }}{{ selectedItem.params}} {{selectedItem.resultValue}}
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>loading...</ng-template>
