<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="summaries$ | async as summaries; else loading">
        <ul class="list-group">
          <li *ngFor="let summary of summaries" class="list-group-item" >
            <a (contextmenu)="openMenu($event)" routerLink="/document/{{summary.storyDocId.id}}">{{summary.name}}</a>
          </li>
          <app-popup-menu>
            <p class="title"><b>Choose an item</b></p>
            <div class="items">
              <p (click)="itemSelected(1)">Item One</p>
              <p (click)="itemSelected(2)">Item Two</p>
              <p (click)="itemSelected(3)">Item Three</p>
              <p (click)="itemSelected(4)">Item Four</p>
            </div>
          </app-popup-menu>
        </ul>
      </div>
      <div class="btn  btn-sm btn-outline-primary" (click)="openAddDocumentDialog()">Add Story</div>
    </div>
  </div>

</div>

<ng-template #loading>
  <ul class="list-group"></ul>
</ng-template>

<jw-modal id="add-document-dialog">
  <app-create-document-dialog [input]="createDocumentDialogInput" (onConfirm)="confirmAddDocumentDialog($event)" (onCancel)="cancelAddDocumentDialog()"></app-create-document-dialog>
</jw-modal>
