<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">UI design: </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="list-group" *ngIf="mockUI$ | async as mockUI ; else loading">
      <div class="list-group-item" *ngFor="let screenshot of mockUI.screenshots">{{screenshot.id.id}}</div>
    </div>
  </div>
  <div class="btn  btn-sm btn-outline-primary" (click)="openAddScreenshotDialog()">Add Screenshot</div>
</div>

<jw-modal [id]="getScreenshotDialogId()">
  <app-add-screenshot-dialog [input]="createScreenshotDialogInput" [screenshotCollectionDTO]="screenshotCollection" (onConfirm)="confirmAddScreenshotDialog($event)" (onCancel)="cancelAddScreenshotDialog()"></app-add-screenshot-dialog>
</jw-modal>

<ng-template #loading>loading...</ng-template>
