@import '../../../common/variables';

.to-bottom {
  @include storybook-height-main-section
}

.dropzone {
  width: 120px;
  min-height: 100px;
  border: dotted 1px red
}

.time-line-item-connector {
  height: 31px;
  width: 50%;
  border-right: 2px solid $storybook-secondary-500;
}

.time-line-item {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid $storybook-secondary-500;
  padding: 10px;
  text-align: center;
}

.selected {
  background-color: $storybook-primary-300;
  color: $storybook-white;
}
