<div *ngIf="$uiBlock | async as uiBlock ; else loading">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
          <li [class.active-step]="i==stepNr" class="list-group-item" *ngFor="let ui of uiBlock.uiList; let i = index">
            {{i+1}} {{ i==0 ? 'navigate to \'Find owners\' ' : ''}} {{ i==1 ? 'click \'add visit\' ' : ''}} {{ i==2 ? 'fill in form' : ''}}
            {{ i==3 ? 'visit is added to list of visits. ' : ''}} {{ i==4 ? 'visit added ' : ''}}
          </li>
        </ul>
        <nav>
          <ul class="pagination">
            <li class="page-item" (click)="previous()">
              <a class="page-link" href="javascript:void(0);">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" (click)="next()">
              <a class="page-link" href="javascript:void(0);" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-9">
        <img class="display-step" src="{{uiBlock.uiList[stepNr].imgURL}}">
      </div>
    </div>
  </div>
</div>

<ng-template #loading>loading...</ng-template>
