<ng-container *ngIf="presentationMode">
  <app-layout-1col
    [title]="presentationModeMenu"
    [middle]="scenarioPanel"
  >
  </app-layout-1col>
</ng-container>
<ng-container *ngIf="!presentationMode">
  <app-layout-2col
    [breadcrumb]="breadcrumb"
    [title]="editModeMenu"
    [leftColumn]="inputPanels"
    [rightColumn]="scenarioPanel"
  >
  </app-layout-2col>
</ng-container>

<ng-template #editModeMenu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">[title]</div>
      <div class="col-md-1">
        <div class="btn  btn-sm btn-outline-secondary" (click)="togglePresentationMode()">Start Presentation</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #presentationModeMenu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11"></div>
      <div class="col-md-1">
        <div class="btn  btn-sm btn-outline-primary" (click)="togglePresentationMode()">End Presention</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #breadcrumb>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <ng-container *ngIf="uiScenario$ | async as uiScenario">
        <li class="breadcrumb-item"><a
          [routerLink]="link.toStoryDoc(uiScenario.storyDocSummary)">{{uiScenario.storyDocSummary.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{uiScenario.name}}</li>
      </ng-container>
    </ol>
  </nav>
</ng-template>

<ng-template #inputPanels>
  <app-time-line-selection-panel></app-time-line-selection-panel>
  <app-screenshot-panel [collections]="(uiScenario$|async)?.associatedCollections"></app-screenshot-panel>
</ng-template>

<ng-template #scenarioPanel>
  <app-scenario-panel></app-scenario-panel>
</ng-template>

<ng-template #loading>loading...</ng-template>
