.active-step {
  font-weight: bold;
}

.display-step {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  // width: 450px; /* Set a small width */
}
