<app-presentation-layout
  [top]="top"
  [center]="center"
  [bottom]="bottom"
>
</app-presentation-layout>

<ng-template #top>
  <div class="container-fluid" *ngIf="uiScenario$ | async as uiScenario">
    <div class="row">
      <div class="col-md-11">
      </div>
      <div class="col-md-1">
        <div class="btn  btn-sm btn-outline-light" (click)="endPresentationMode()">End Presentation</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #center>
  <app-scenario-panel></app-scenario-panel>
</ng-template>

<ng-template #bottom>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <app-player-panel (first)="toFirst()" (previous)="toPrevious()" (next)="toNext()" (last)="toLast()"></app-player-panel>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</ng-template>

