<div class="modal-dialog" *ngIf="spec">
  <form [formGroup]="formGroup">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{spec.mode=='NEW' ? 'Add' : 'Edit' }} Path</h5>
        <button type="button" class="btn-close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="path" class="form-label">Path</label>
          <input formControlName="path" type="text" class="form-control" #path>
          <div id="path" class="form-text">Enter a path to the source code.</div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-check" *ngIf="spec.mode=='NEW'">
          <input formControlName="addMore" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Add more
          </label>
        </div>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!formGroup.valid">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
