.container {
  padding: 5px;
  display: inline-block;
}

.box {
  max-width: 220px;
  padding: 0;
  background-color: rgb(213,250,205);
  border-radius: 2px 2px 2px 2px;
  border: 1px solid grey;
}

.stereoType {
  text-align: center;
  padding-top: 2px;
}

.title {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 1px;
}

.body {
  padding: 10px;
}
