
<div>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary">
      <fa-icon  [icon]="faFastBackward"></fa-icon> First
    </button>
    <button type="button" class="btn btn-outline-primary">
      <fa-icon  [icon]="faStepBackward"></fa-icon> Previous
    </button>
    <button type="button" class="btn btn-outline-primary">
      Next <fa-icon  [icon]="faStepForward"></fa-icon>
    </button>
    <button type="button" class="btn btn-outline-primary">
      Last <fa-icon  [icon]="faFastForward"></fa-icon>
    </button>

  </div>

</div>
