<app-layout-2col
  [breadcrumb]="breadcrumb"
  [title]="title"
  [leftColumn]="leftPanel"
  [rightColumn]="rightPanel"
>
</app-layout-2col>

<ng-template #breadcrumb>
  <div *ngIf="doc$ | async as doc; else loading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <app-back-button [routerLink]="'/'"></app-back-button>
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{doc.title}}</li>
      </ol>
    </nav>
  </div>
</ng-template>

<ng-template #title>
  <div class="container-fluid" *ngIf="doc$ | async as doc; else loading">
    <div class="row">
      <h3>Story: {{doc.title}}</h3>
    </div>
  </div>
</ng-template>

<ng-template #leftPanel>
  <app-panel>
    <div class="navigation-panel" *ngIf="doc$ | async as doc; else loading">
      <ul class="list-group">
        <li class="list-group-item" [class.selected]="isSelected(block)" *ngFor="let block of doc.blocks"
            (click)="selectBlock(block)" (select)="selectBlock(block)" (contextmenu)="openMenu($event, block)">
          {{numbering(block)}} {{block.title}}
        </li>
        <div class="btn  btn-sm btn-outline-primary" (click)="addBlock()">Add Paragraph</div>

      </ul>
    </div>
  </app-panel>
</ng-template>

<ng-template #rightPanel>
  <app-panel>
    <div class="content-panel" *ngIf="doc$ | async as doc; else loading">
      <div class="container">
        <div class="row" *ngFor="let block of doc.blocks">
          <app-block [block]="block" [documentId]="doc.storyDocId"></app-block>
        </div>
      </div>
    </div>
  </app-panel>
</ng-template>

<app-popup-menu></app-popup-menu>

<jw-modal [id]="blockDialogId">
  <app-create-block-dialog [spec]="blockDialogSpec"></app-create-block-dialog>
</jw-modal>


<jw-modal [id]="confirmationDialogId">
  <app-confirmation-dialog [spec]="confirmationDialogSpec"></app-confirmation-dialog>
</jw-modal>


<ng-template #loading>loading...</ng-template>
