<app-panel>
  <div class="component-details-container">
    <div class="container-fluid" *ngIf="descriptor">
      <div *ngIf="selection != 'NONE'">
        <div class="form-group">
          <label><b>Name</b></label>
          <input class="form-control" type="text" [value]="selection.name" (keyup)="onNameChange($event)">
        </div>
        <div class="form-group">
          <label>x</label>
          <input class="form-control" type="text" [value]="selection.x" >
        </div>
        <div class="form-group">
          <label>y</label>
          <input class="form-control" type="text" [value]="selection.y" >
        </div>
        <div class="row " *ngFor="let attribute of descriptor.attributes">
          <div class="form-group">
            <label>{{attribute.name}}</label>
            <input class="form-control" type="text" (keyup)="onChange(attribute, $event)">
          </div>
        </div>
      </div>
    </div>
  </div>
</app-panel>
